In [5]:
import pandas as pd

In [4]:
data = pd.read_csv('data.csv')
data

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [1]:
import pandas as pd

data = {"Tid": [1,2, 3, 4, 5, 6, 7, 8, 9, 10],
         "Refund": ['yes', 'no', 'no', 'yes', 'no' , 'no', 'yes', 'no', 'no', 'no'],
        "Marital Status": ['Single', 'Married', 'Single', 'Married', 'Divorced', 'Married', 'Divorced', 'Single', 'Married', 'Single'],
        "Taxable Income": ['125K', '100K', '70K', '120K', '95K', '60K', '220K', '85K', '75K', '90K'],
        "Cheat": ['No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes']}

mydata = pd.DataFrame(data)
print(mydata)

   Tid Refund Marital Status Taxable Income Cheat
0    1    yes         Single           125K    No
1    2     no        Married           100K    No
2    3     no         Single            70K    No
3    4    yes        Married           120K    No
4    5     no       Divorced            95K   Yes
5    6     no        Married            60K    No
6    7    yes       Divorced           220K    No
7    8     no         Single            85K   Yes
8    9     no        Married            75K    No
9   10     no         Single            90K   Yes

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_37020\2013408569.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
print(mydata.loc[0])
print(mydata.loc[4])
print(mydata.loc[7])
print(mydata.loc[8])

Tid                    1
Refund               yes
Marital Status    Single
Taxable Income      125K
Cheat                 No
Name: 0, dtype: object
Tid                      5
Refund                  no
Marital Status    Divorced
Taxable Income         95K
Cheat                  Yes
Name: 4, dtype: object
Tid                    8
Refund                no
Marital Status    Single
Taxable Income       85K
Cheat                Yes
Name: 7, dtype: object
Tid                     9
Refund                 no
Marital Status    Married
Taxable Income        75K
Cheat                  No
Name: 8, dtype: object